{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% block body %}
{% set notice = app.flashes('notice') %}
{% if 'okay' in notice %}
<div class="bg-success border" >
Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen
</div>
{% endif %}
{% if 'notokay' in notice %}
<div class="bg-danger border">
Hiba! Kérjük töltsd ki az összes mezőt! 
</div>
{% endif %}

{{ form(form) }}

{% endblock %}
