{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% block body %}
{% if notokay is defined %}
<div>
Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen
</div>
{% endif %}
{% if okay is defined %}
<div>
Hiba! Kérjük töltsd ki az összes mezőt! 
</div>
{% endif %}

{{ form(form) }}

{% endblock %}
